<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    .adaptContent {
      max-width: 500px;
      max-width: min-content;
      margin: auto
    }
  </style>
</head>

<body>
  <p>Some text [...]ome text [...]ome text [...]ome text [...]ome text [...]ome text [...]</p>
  <figure class="adaptContent" style='border: 1px solid #ccc'>
    <img style='width: 400px' src="../assets/images/timg.jpg" />
    <figcaption>
      The great Sir Adam Catlace was named after
      Countess Ada Lovelace, the first programmer.
    </figcaption>
  </figure>
  <p>More text [...]More text [...]More text [...]More text [...]More text [...]More text [...].</p>
</body>

</html>