<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .sup {
      height: 500px;
      background: red;
    }
    .sup::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
    .sub {
      width: 100px;
      display: inline-block;
      background:blue;
    }
  </style>
</head>
<body>
  <div class="sup">
    <div class="sub">fdsfafds</div>
  </div>
</body>
</html>